/* Custom styles for handoff-dev-4 */
.handoff-dev-4 {
  color: var(--color-Soft);
  background-color: var(--color-Light-gradient);
}
.handoff-dev-4 .btn-primary {
  background-color: var(--color-SS .handoff-dev-4 .btn-primary C-Blue);
}
.handoff-dev-4 .btn-secondary {
  background-color: var(--color-Teal);
}