/* Component: hero-dev-8 */
.hero-dev-8 {
  background-size: cover;
  background-position: center;
  color: var(--color-dark-gray);
}

.hero-dev-8 .btn-primary {
  background-color: var(--color-ssc-blue-600);
  border-color: var(--color-ssc-blue-600);
}

.hero-dev-8 .btn-outline-primary {
  border-color: var(--color-ssc-blue-600);
  color: var(--color-ssc-blue-600);
}